/* make the control panel float on 
 * top with readable buttons */
.controls {
  position: absolute;
  z-index: 10000;
  padding: 10px;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.controls > button {
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin-bottom: 0.2em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.controls > button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.controls > button:active {
  background-color: rgba(0, 0, 0, 0.9);
}
