@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

/*========================================
    Component custom styles
  =======================================*/
* {
  font-family: "Inter", sans-serif;
}

#overlays {
  position: absolute;
  z-index: 99999;
  width: 100vw;
}

.uiOverlay {
  position: absolute;
  z-index: 100001;
}

.centerDisplay {
  display: grid;
  justify-items: center;
  align-items: center;
}

.lateralFlex {
  display: flex;
  align-items: center;
}

.fileMenu {
  top: 2vh;
  left: 1vw;
  height: 6em;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  padding: 0 1em 0 1em;
  /* curved sides */
  border-radius: 10px;
}

.sideText {
  margin-left: 2em;
  font-weight: 800;
  white-space: nowrap;
  color: white;
}

.graphView {
  top: 1vh;
  right: 2vw;
  height: max-content;
  width: max-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphView h4{
  background-color: rgba(68,132,102,0.8);
  padding: 0.5em 0.2em 0.5em 0.2em;
  border-radius: 10px;
  color: aliceblue;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  width: 15vw;
}

.graphDisplay {
  color: whitesmoke;
  height: 15em;
  width: 15em;
  background-color: rgba(0,0,0,0.5);
  margin: 1.5em 0 1.5em 0;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid darkgrey;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 70% auto;
}

.graphImg{
  height: 100%;
  width: max-content;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.graphImg img{
  width: max-content;
  height: 100%;
}

.graphDisplay:hover {
  border-color: black;
  cursor: pointer;
}

.playbackMenu {
  top: 80vh;
  left: 2vw;
  height: 5em;
  width: max-content;
}

.playButton {
  color: lightgrey;
  outline: none;
  font-size: 4em;
  height: 130px;
  width: 130px;
  background-color: rgba(0,0,0,0.5) !important;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border: 5px solid #448466;
  border-radius: 50%;
  cursor: pointer;
}

.playButton div {
  transform: translateX(5px);
}

.playButton:hover {
  border-color: seagreen;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
}

.playButton:active {
  border-color: mediumseagreen;
  background-color: rgba(220,220,220,0.7);
  color: #3e404e;
}

.mb-3 {
  color: white;
}

.mb-3 label{
  margin: 0 3em 2em 0;
  line-height: 2em;
}

.rawData {
  color: whitesmoke;
}
